NODE_ENV="development"

HANA_DATABASE_URL="postgresql://your_user_name:your_password@localhost:5432/grey_flowers?schema=public"
API_PORT="2408"
ADMIN_PORT="2409"
MAIN_PORT="2410"

AUTH_ACCESS_TOKEN_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
AUTH_REFRESH_TOKEN_PEPPER="yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy"

HANA_MAIL_ENABLE="false"
RESEND_API_KEY="xxxx"
RESEND_FROM="xxxx"
