@use './normalize.scss';

body,
html {
  @apply font-noto;
  min-width: 320px;
}

:root {
  --hana-blue: rgba(156, 215, 229, 1);
  --hana-blue-light: rgba(156, 215, 229, 0.4);
  --hana-black: rgb(74, 74, 74, 1);
  --hana-black-light: rgba(125, 125, 125, 1);
}

::selection {
  background-color: var(--hana-blue-light);
}

.dark {
  ::selection {
    background-color: var(--hana-black-light);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--hana-blue);
  border-radius: 8px;
}

.dark {
  ::-webkit-scrollbar-thumb {
    background-color: var(--hana-black-light);
    border-radius: 8px;
  }
}

::-webkit-scrollbar-track {
  background-color: var(--hana-blue-light);
  border-radius: 8px;
}

.dark {
  ::-webkit-scrollbar-track {
    background-color: var(--hana-black);
    border-radius: 8px;
  }
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: var(--hana-blue-light);
}

.dark {
  ::-webkit-scrollbar-corner {
    background-color: var(--hana-black);
  }
}
